body{
margin-top:20px;
 height: 100dvh;
}
 .no-scroll {
    overflow: hidden;
  }

/*========================
=====Pricing Table CSS====
=========================*/

#pricing-tables {
    overflow: hidden;
	margin-bottom:25px;
}

.pricing-table-one {
	margin-top:85px;
}

.single-table {
	background-color: #fafafa;
}

.single-table h2 {
	background-color: #f2f2f2;
	padding: 23px;
	margin-top: 0;
	margin-bottom: 0;
}

.price {
	font-size: 14px;
	background-color: #dedede;	
	padding:9px 23px;
	margin-bottom: 0;
}

.price span {
	font-size: 24px;
	font-weight: 700;
}

.price span.dollar-icon {
	font-size: 16px;
	font-weight: 400;
	position: relative;
	top: -5px;
}

.single-table ul {
	padding: 5px 23px;
}

.single-table ul li {
	margin-top: 15px;
}

.single-table .btn.btn-primary {
	background-color: #dedede;
	border: none;
	border-radius: 0;
	color: #454545;
	display: block;
	margin-bottom: 0;
	font-weight: 700;
	padding: 10px 0;	
	margin-top:40px;
}

.single-table.featured-table {	
	background-color: #f2f2f2;
}

.single-table.featured-table h2  { 
	color: #fff;
}

.single-table.featured-table .price {
	color: #fff;
}

.single-table.featured-table .btn.btn-primary, 
.single-table:hover .btn.btn-primary:hover{
	color:#fff;
}

.pricing-table-one  .single-table h2{	
	font-size: 18px;
	font-weight: 700;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
	border-bottom:1px solid #fff;
	color:#fff;
	border-radius:3px 3px 0 0;
}

.pricing-table-one .price span.dollar-icon {
  font-size: 48px;
  font-weight: 700;
  position: relative;
  top: 0;
}

.pricing-table-one .price span {
	font-size:48px;
	font-weight:700;
}

.pricing-table-one .price {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 18px;
  text-align: center;
  color:#fff;
}

.pricing-table-one .single-table .btn.btn-primary {
	color:#000;
	padding:15px 0;
	border-radius:0 0 3px 3px;
	margin-top:0;
}

.pricing-table-one .single-table.featured-table .btn.btn-primary{
	color:#fff;
}

.single-table .btn.btn-primary:hover, 
.single-table.featured-table .btn.btn-primary:hover{
	color:#020202;
}

.single-table .btn.btn-primary:hover:after, 
.single-table .btn.btn-primary:hover:before {
	background-color:#f4c216;;
}

.pricing-table-one .single-table ul li {
	line-height: 55px;
	margin-top: 0;
}

.pricing-table-one .single-table ul li:nth-child(even) {
    background-color:#fcfcfc;
}

.pricing-table-one .single-table ul {
  margin: 0;
  padding:0;
}
.pricing-table-one .single-table.featured-table, .pricing-table-one .single-table {
	background-color:#fff;
}

#pricing-tables .section-title h2:before {
    background-image: url("../images/home/icons/pricing-title-icon.png");
}

.single-table.featured-table h2, .single-table.featured-table, .pricing-table-one .price {
    background-color: #e07894;
}

.single-table.featured-table .price, .pricing-table-one  .single-table h2, .pricing-table-one .single-table.featured-table .btn.btn-primary {
    background-color: #ce5a78;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.single-table ul li {
    margin-top: 15px;
}

.single-table.featured-table {
    background-color: #f2f2f2;
}

.single-table.featured-table .btn.btn-primary {
    background-color: #e07894;
}
.single-table.featured-table .btn.btn-primary, .single-table:hover .btn.btn-primary:hover {
    color: #fff;
}

